/* https://www.modularscale.com/?18&px&1.125 */

/* variables */
:root {
   --Strong-Cyan: hsl(171, 66%, 44%);
   --Light-Blue: hsl(233, 100%, 69%);
   --Dark-Grayish-Blue: hsl(210, 10%, 33%);
   --Grayish-Blue: hsl(201, 11%, 66%);
}


/* globals */ 

html {
   box-sizing: border-box;
   font-size: 18px;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   font-family: 'Bai Jamjuree', sans-serif;
   font-size: 1rem;
   color: var(--Grayish-Blue);
   text-align: center;
   margin: 0;
   padding: 0;
   background-image: url(../images/bg-header-mobile.png);
   background-repeat: no-repeat;
   background-size: contain;
}

h1, 
h2, 
h3 {
   color: var(--Dark-Grayish-Blue);
}

p {
   line-height: 1.5;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.container {
   margin: 0 8%;
   /* max-width: 375px; */
}

section.snippets img,
section.clipboard img {
   width: 100%;
}

.btn-container {
   display: flex;
   flex-direction: column;
   margin: 40px 0;
}
.btn {
   text-decoration: none;
   background-color: red;
   letter-spacing: .8px;
   color: white;
   padding: 15px 40px;
   border-radius: 30px;
   width: 90%;
   margin: 0 auto 20px auto;
}

.btn-container > .btn:nth-child(1){
   background-color: var(--Strong-Cyan);
   box-shadow: 0px 2px 5px 1px hsl(171deg 59% 29%);

   
}
.btn-container > .btn:nth-child(2){
   background-color: var(--Light-Blue);
   box-shadow: 0px 2px 5px 1px hsl(233deg 31% 41%);
}
.btn-container > .btn:nth-child(1):hover,
.btn-container > .btn:nth-child(2):hover {
   opacity: .8;
}

/* header ----------- */

header {
   margin: 100px 0 90px 0;
}

header h1 {
   font-size: 1.802rem;
   max-width: 90vw;
   margin: 0 auto;
}

header img {
   max-width: 120px;
   margin-bottom: 40px;
}



/*  section - snippets  */

section.snippets {
   margin-bottom: 150px;
}

section.snippets img {
   margin: 50px 0px 30px 0px;
}

.snippets-items {
   margin: 50px 0px;
   text-align: unset;
}
.snippets-items:nth-of-type(2) {
   margin-top: 0;
}


/*  section - clipboard  */
section.clipboard {
   margin-bottom: 100px;
}

section.clipboard img {
   margin-top: 30px;
   max-width: 750px;
}

/*  section - workflow  */
section.workflow {
   margin-bottom: 150px;
}

.workflow-header {
   margin-bottom: 70px;
}

.workflow-items {
   margin-bottom: 50px;
}

.workflow-items img {
   margin: 25px 0;
}

/*  section - sponsor  */
section.sponsor {
   margin-bottom: 150px;
}
.sponsor > .img-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 80px;
}

.sponsor img {
   max-width: 100%;
}

/*  section - clipboard2  */
section.clipboard2 {
   margin-bottom: 150px;
}
/*  footer  ------------*/

footer {
   background-color: #F5F6F8;
   margin: 0;
   width: 100%;
   padding-top: 50px;
}
.ftr-logo img{
   height: 2.887rem;
}

.xtrainfo li {
   line-height: 2.5;
}
.xtrainfo li > a{
   color: var(--Dark-Grayish-Blue);
   text-decoration: none;
}
.xtrainfo li > a:hover,
.xtrainfo li > a:focus {
   color: var(--Strong-Cyan);
}

.social-icons {
   margin: 40px 0 30px 0;
}

.social-icons > ul {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 30px;
}

.social-icons li.facebook:hover img {
   filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(7);
}
.social-icons li.twitter:hover img {
   filter: brightness(1.5) sepia(1) hue-rotate(120deg) saturate(5);
}
.social-icons li.instagram:hover img {
   filter: brightness(1) sepia(1) hue-rotate(-70deg) saturate(5);
}


.xtrainfo > ul,
.social-icons > ul {
   list-style-type: none;
   padding: 0;
}

.attribution { 
   text-align: center; 
   font-size: 0.702rem;
}
.attribution a { 
   color: hsl(228, 45%, 44%); 
}
.attribution a:hover { 
   background-color: var(--Grayish-Blue);
}

/*  Media Queries  ------------*/

@media screen and (min-width: 745px) {
   section.snippets img {
      width: 597.250px;
   }

   .comp-itm-container {
      display: flex;
      justify-content: center;
      text-align: left;
      gap: 30px;
      margin-left: -40%;
   }
   .snippets-items {
      margin-bottom: 20px;
   }
}

@media screen and (min-width: 900px) {
   body {
      background-image: url(../images/bg-header-desktop.png);
   }
   
   .btn-container {
      flex-direction: row;
      justify-content: center;
      gap: 20px;
   }
   .btn {
      max-width: 250px;
      margin: 0;
   }

   .comp-itm-container {
      gap: 50px;
      margin-left: -30%;
   }

   .workflow-items-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;
   }

   .sponsor .img-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 3vw;
   }

   footer {
      margin: 0 8vw;
      padding: 0;
   }

   .ftr-flex-container {
      display: grid;
      grid-template-columns: .5fr 1.5fr .1fr;
      justify-items: center;
      align-items: center;
      margin: 0px 8vw;
   }

   .ftr-logo {
      justify-self: start;
   }

   .xtrainfo {
      justify-self: start;
   }


   .xtrainfo ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
         "Faq Privacy Install"
         "Contact Press Press";
      justify-items: start;
      justify-content: start;
      width: 100%;
      text-align: left;
      column-gap: 30px;
   }

   .xtrainfo li:nth-of-type(1){
      grid-area: Faq;
   }
   .xtrainfo li:nth-of-type(2){
      grid-area: Contact;
   }
   .xtrainfo li:nth-of-type(3){
      grid-area: Privacy;
   }
   .xtrainfo li:nth-of-type(4){
      grid-area: Press;
   }
   .xtrainfo li:nth-of-type(5){
      grid-area: Install;
   }

   .social-icons {
      justify-self: end;
   }

}

@media screen and (min-width: 1100px) {
   .comp-itm-container {
      margin-left: -15%;
      gap: 80px;
   }
}

